﻿@using b141210041_MusaDemir.Models;
@using b141210041_MusaDemir.Resources;
@model b141210041_MusaDemir.Models.Modelmain_ara
@{
    ViewBag.Title = "ara";
}

<section class="sectioncontainer">
    <div class="container">
        <div class="row">
            <!---Sol kısım-->
            <div class="col-sm-3 " style="margin-left:-10px;margin-right:10px;padding-top:10px">
                <div class="icerikalani"> @Html.Partial("_kategoriPartial")</div>
                <div class="shipping text-center icerikreklam ">
                    <!--shipping-->
                    <img src="/images/home/shipping.jpg" alt="" />
                </div>
            </div>
            
            <!---Sol kısım-->
            <!---Sağ kısım-->
            <div class="col-sm-9 padding-right icerikalani">

                @if (Model.urunSayisi > 0)
                {



                    <div class="category-tab">
                        <!--category-tab-->
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                @{
                    bool enyeni = false, coksatan = false, enucuz = false, enpahali = false, puanifazla = false;
                    switch (YardimciMethodlar.kategoriSayfasıUrunSiralamaKriteriGetir())
                    {
                        case YardimciMethodlar.kategoriSayfasıUrunSiralamaKriterleri.enpahali:
                            enpahali = true;
                            break;
                        case YardimciMethodlar.kategoriSayfasıUrunSiralamaKriterleri.enucuz:
                            enucuz = true;
                            break;
                        case YardimciMethodlar.kategoriSayfasıUrunSiralamaKriterleri.enyeni:
                            enyeni = true;
                            break;
                        case YardimciMethodlar.kategoriSayfasıUrunSiralamaKriterleri.coksatan:
                            coksatan = true;
                            break;
                        case YardimciMethodlar.kategoriSayfasıUrunSiralamaKriterleri.puanifazla:
                            puanifazla = true;
                            break;
                        default:
                            break;
                    }
                                }
                                <li class="active" style="padding:10px 15px">Sıralama : </li>
                                <li class="@Html.Raw(enyeni ? "active" : "")">
                                    <a href="@Url.Action("urunsiralamakriteridegistir", "main", new {
                                                 kriter = YardimciMethodlar.kategoriSayfasıUrunSiralamaKriterleri.enyeni,
                                                 dil = YardimciMethodlar.dilSessionGetir(),
                                                 redirectURL = Request.Url })">@lang.enyeniurun</a>
                                </li>
                                <li class="@Html.Raw(coksatan ? "active" : "")">
                                    <a href="@Url.Action("urunsiralamakriteridegistir", "main", new {
                                                 kriter = YardimciMethodlar.kategoriSayfasıUrunSiralamaKriterleri.coksatan,
                                                 dil = YardimciMethodlar.dilSessionGetir(),
                                                 redirectURL = Request.Url })">@lang.coksatan</a>
                                </li>
                                <li class="@Html.Raw(enucuz ? "active" : "")">
                                    <a href="@Url.Action("urunsiralamakriteridegistir", "main", new {
                                                 kriter = YardimciMethodlar.kategoriSayfasıUrunSiralamaKriterleri.enucuz,
                                                 dil = YardimciMethodlar.dilSessionGetir(),
                                                 redirectURL = Request.Url })">@lang.endusukfiyat</a>
                                </li>
                                <li class="@Html.Raw(enpahali ? "active" : "")">
                                    <a href="@Url.Action("urunsiralamakriteridegistir", "main", new {
                                                 kriter = YardimciMethodlar.kategoriSayfasıUrunSiralamaKriterleri.enpahali,
                                                 dil = YardimciMethodlar.dilSessionGetir(),
                                                 redirectURL = Request.Url })">@lang.enyuksekfiyat</a>
                                </li>
                                <li class="@Html.Raw(puanifazla ? "active" : "")">
                                    <a href="@Url.Action("urunsiralamakriteridegistir", "main", new {
                                                 kriter = YardimciMethodlar.kategoriSayfasıUrunSiralamaKriterleri.puanifazla,
                                                 dil = YardimciMethodlar.dilSessionGetir(),
                                                 redirectURL = Request.Url })">@lang.enyuksekpuan</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade active in">
                            @foreach (var urunler in Model.urunler)
                            {
                                <div class="col-sm-3">
                                    <a href="@Url.Action("urun", "main", new { dil = YardimciMethodlar.dilSessionGetir(), urunurl = urunler.guvenliUrl })">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="@urunler.resimurl" alt="@urunler.baslik" />
                                                    <h2>@Html.Raw(urunler.ucret)</h2>
                                                    @urunler.baslik

                                                </div>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 ">

                        <ul class="pagination">
                            @if (Model.sayfaSayisi > 7)
                            {
                                int sayfabir, sayfaiki, sayfauc, sayfadort, sayfabes, sayfaalti;
                                sayfabir = 1 + Model.cpage > Model.sayfaSayisi ? 1 : 1 + Model.cpage;
                                sayfaiki =  1 + sayfabir;
                                sayfauc =  2 + sayfabir;
                                sayfaalti = Model.sayfaSayisi;
                                sayfabes = sayfaalti - 1;
                                sayfadort = sayfabes - 1;
                                <li><a href="@YardimciMethodlar.sayfaDegistir(Request.Url.ToString(), 1)"><<</a></li>
                                <li><a href="@YardimciMethodlar.sayfaDegistir(Request.Url.ToString(), Model.cpage - 1 <= 0 ? 1 : Model.cpage - 1)"><</a></li>
                                <li><a href="@YardimciMethodlar.sayfaDegistir(Request.Url.ToString(), sayfabir)">@sayfabir</a></li>
                                <li><a href="@YardimciMethodlar.sayfaDegistir(Request.Url.ToString(), sayfaiki)">@sayfaiki</a></li>
                                <li><a href="@YardimciMethodlar.sayfaDegistir(Request.Url.ToString(), sayfauc)">@sayfauc</a></li>
                                <li><a href="#">...</a></li>
                                <li><a href="@YardimciMethodlar.sayfaDegistir(Request.Url.ToString(), sayfadort)">@sayfadort</a></li>
                                <li><a href="@YardimciMethodlar.sayfaDegistir(Request.Url.ToString(), sayfabes)">@sayfabes</a></li>
                                <li><a href="@YardimciMethodlar.sayfaDegistir(Request.Url.ToString(), sayfaalti)">@sayfaalti</a></li>
                                <li><a href="@YardimciMethodlar.sayfaDegistir(Request.Url.ToString(), Model.cpage + 1 > Model.sayfaSayisi ? Model.sayfaSayisi : Model.cpage + 1)">></a></li>
                                <li><a href="@YardimciMethodlar.sayfaDegistir(Request.Url.ToString(), Model.sayfaSayisi)">>></a></li>
                            }
                            else if (Model.sayfaSayisi > 1)
                            {
                                <li><a href="@YardimciMethodlar.sayfaDegistir(Request.Url.ToString(), 1)"><<</a></li>
                                <li><a href="@YardimciMethodlar.sayfaDegistir(Request.Url.ToString(), Model.cpage - 1 <= 0 ? 1 : Model.cpage - 1)"><</a></li>
                                for (int i = 1; i <= Model.sayfaSayisi; i++)
                                {
                                    <li><a href="@YardimciMethodlar.sayfaDegistir(Request.Url.ToString(),i)">@i</a></li>
                                }
                                <li><a href="@YardimciMethodlar.sayfaDegistir(Request.Url.ToString(), Model.cpage + 1 > Model.sayfaSayisi ? Model.sayfaSayisi : Model.cpage + 1)">></a></li>
                                <li><a href="@YardimciMethodlar.sayfaDegistir(Request.Url.ToString(), Model.sayfaSayisi)">>></a></li>
                            }

                        </ul>


                    </div>

               <!--/category-tab-->

                }
                else
                {
                    <div class="col-md-12 alert alert-danger" style="text-align:center">@lang.urunbulunamadi</div>
                }

                @Html.Partial("_tavsiyeEdilenUrunlerPartial")



            </div>
            <!---Sağ kısım-->
        </div>
    </div>
</section>
