﻿@using b141210041_MusaDemir.Models
@using b141210041_MusaDemir.Resources;
@model Modelmain_Index
@{
    ViewBag.Title = "Index";
}


    <section id="slider" style="padding:20px">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        @for (int i = 0; i < Model.sliderUrunler.Count(); i++)
                        {
                            if (i==0)
                            {
                                <li data-target="#slider-carousel" data-slide-to="@i" class="active"></li>
                            }
                            else
                            {
                                  <li data-target="#slider-carousel" data-slide-to="@i"></li>
                            }
                        }
                    </ol>

                    <div class="carousel-inner">
                        @{
                            bool ilkslidermi = true;
                            bool dilEnmi = YardimciMethodlar.dilSessionGetir() == "en" ? true : false;
                        }
                        @foreach (var item in Model.sliderUrunler)
                        {
                            if (ilkslidermi)
                            {
                                ilkslidermi = false;
                                 <div class="item active"  >
                                     <div class="col-sm-6">
                                         <h1><span>E</span>-SHOPPER</h1>
                                         <p>@Html.Raw(dilEnmi ? item.basliken : item.basliktr)</p>
                                         <a href="@Url.Action("urun", "main", new { dil = YardimciMethodlar.dilSessionGetir(), urunurl = item.guvenliurl })" class="btn btn-default get">@lang.urunegit</a>
                                     </div>
                                     <div class="col-sm-6">
                                         <img src="@item.urunAnaResim" style="height:300px" />
                                     </div>
                                     
                                </div>
                            }
                            else
                            {
                                <div class="item"  >
                                     <div class="col-sm-6">
                                         <h1><span>E</span>-SHOPPER</h1>
                                         <p>@Html.Raw(dilEnmi ? item.basliken : item.basliktr)</p>
                                         <a href="@Url.Action("urun", "main", new { dil = YardimciMethodlar.dilSessionGetir(), urunurl = item.guvenliurl })" class="btn btn-default get">@lang.urunegit</a>
                                     </div>
                                     <div class="col-sm-6">
                                         <img src="@item.urunAnaResim" style="height:300px" />
                                     </div>
                                     
                                </div>
                            }
                        }
                       
                        

                       
                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->

    <section class="sectioncontainer">
        <div class="container">
            <div class="row">
                
                <div class="col-sm-9 padding-left icerikalani">
                    @Html.Partial("_oneCikanUrunlerPartial")
                </div>

                <div class="col-sm-3 icerikalani anasayfareklam">                   
                    @Html.Partial("_kategoriPartial")
                </div>
                <div class="shipping text-center col-sm-3 icerikreklam anasayfareklam">
                    <!--shipping-->
                    <img src="/images/home/shipping.jpg" alt="" />
                </div><!--/shipping-->
            </div>
            @if (Model.sonGezilenler != null && Model.sonGezilenler.Count() > 0) 
            {

            
            <div class="row icerikalani" style="margin-right:-25px">
                <div class="recommended_items">
                    <!--Son Bakılanlar-->
                    <h2 class="title text-center">@lang.songezilenler</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          
                            @if (Model.sonGezilenler.Count < 4) 
                            {
                                 <div class="item active">
                                     @foreach (var item in Model.sonGezilenler)
                                     {
                                         <a href="@Url.Action("urun", "main", new { @dil = YardimciMethodlar.dilSessionGetir(), @urunurl = item.guvenliUrl })">
                                            <div class="col-sm-3">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <img src="@item.resimurl" alt="@item.baslik" />
                                                            <h2>@Html.Raw(item.ucret)</h2>
                                                            <p>@item.baslik</p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                     }
                                   
                                        
                                 </div>
                            }else
	                        {
                                int i = 0;
                                <div class="item active">
                                     @foreach (var item in Model.sonGezilenler)
                                     {
                                                             
                                         @Html.Raw((i != 0 ? i : 1) % 4 == 0 ? "</div><div class=\"item \">" : "")           
                                         <a href="@Url.Action("urun", "main", new { @dil = YardimciMethodlar.dilSessionGetir(), @urunurl = item.guvenliUrl })">
                                            <div class="col-sm-3">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <img src="@item.resimurl" alt="@item.baslik" />
                                                            <h2>@Html.Raw(item.ucret)</h2>
                                                            <p>@item.baslik</p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                         i++; 
                                     }
                                   
                                        
                                 </div>
	                        }
                           
                            

                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/Son Bakılanlar-->
            </div>

            }
            <div class="row ">
                <div class="category-tab col-sm-10 icerikalani">
                    <!--category-tab-->
                    <div class="col-sm-12" style="padding:0;">
                        <ul class="nav nav-tabs">
                            @{bool ilkkatad = true;}
                            @foreach (var item in Model.tabmenuurunler)
                            {
                                if (item.ValueVeri.Count>0)
                                {
                                      if (ilkkatad)
                                      {
                                        ilkkatad = false;
                                          <li class="active"><a href="#@item.KeyVeri" data-toggle="tab">@item.AraDeger</a></li>
                                      }
                                      else
                                      {
                                         <li><a href="#@item.KeyVeri" data-toggle="tab">@item.AraDeger</a></li>
                                      }      
                                }
                                                       
                            }                         
                        </ul>

                    </div>

                    <div class="tab-content"><!---active in-->
                        @{bool ilkkaturun = true;}
                        @foreach (var item in Model.tabmenuurunler)
                        {
                            if (item.ValueVeri.Count>0)
                            {
                                if (ilkkaturun)
                                {
                                    ilkkaturun = false;
                                     <div class="tab-pane fade active in" id="@item.KeyVeri">
                                         @foreach (var urunler in item.ValueVeri)
                                         {
                                             <a href="@Url.Action("urun", "main", new { @dil = YardimciMethodlar.dilSessionGetir(), @urunurl = urunler.guvenliUrl })">
                                                <div class="col-sm-3">
                                                    <div class="product-image-wrapper">
                                                        <div class="single-products">
                                                            <div class="productinfo text-center">
                                                                <img src="@urunler.resimurl" alt="" />
                                                                <h2>@Html.Raw(urunler.ucret)</h2>
                                                                <p>@urunler.baslik</p>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </a> 
                                         }
                                    </div>
                                }
                                else
                                {
                                    <div class="tab-pane fade" id="@item.KeyVeri">
                                         @foreach (var urunler in item.ValueVeri)
                                         {
                                             <a href="@Url.Action("urun", "main", new { @dil = YardimciMethodlar.dilSessionGetir(), @urunurl = urunler.guvenliUrl })">
                                                <div class="col-sm-3">
                                                    <div class="product-image-wrapper">
                                                        <div class="single-products">
                                                            <div class="productinfo text-center">
                                                                <img src="@urunler.resimurl" alt="" />
                                                                <h2>@Html.Raw(urunler.ucret)</h2>
                                                                <p>@urunler.baslik</p>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </a> 
                                         }
                                    </div>
                                }
                            }
                      }
                        
                       

                       
                     



                      



                    </div>
                </div><!--/category-tab-->
                <!---- RESIMLER A İLE ÇEVRELENECEK----->
                @foreach (var item in Model.anasayfa6resim)
                {
                    <a href="@Url.Action("urun", "main", new { @dil = YardimciMethodlar.dilSessionGetir(), @urunurl = item.KeyVeri })"><img src="@item.ValueVeri" class=" icerikreklam anasayfareklam col-sm-2 col-xs-5 img-responsive" alt="@item.ValueVeri" /></a>
                }
                
             </div>

            <div class="row icerikalani" style="margin-right:-25px">

                @Html.Partial("_tavsiyeEdilenUrunlerPartial")

               </div>
         
        </div>
    </section>
