﻿@using b141210041_MusaDemir.Models
@using b141210041_MusaDemir.Resources
@model b141210041_MusaDemir.Models.Modelmain_Urun
@{
    ViewBag.Title = "Ürün | " + Model.baslik;
}
@section styles{
    <style>
        .miniresim{
            cursor:pointer;
        }
    </style>
}
@section scripts{
    <script>
        $(".miniresim").click(function () {
            var src = $(this).attr("src");
            $("#AnaResim").attr("src", src);
        });
    </script>
}
<section class="sectioncontainer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 " style="margin-left:-10px;margin-right:10px;">
                <div class="row">


                   
                    <div class="icerikalani">
                    
                        @Html.Partial("_kategoriPartial")
                    </div>
                  
                    <div class="shipping icerikreklam text-center" style="margin:10px 0 10px 0;">
                        <!--shipping-->
                        <img src="/images/home/shipping.jpg" alt="" />
                    </div><!--/shipping-->
                </div>
            </div>
           

            <div class="col-sm-9 icerikalani padding-right">

                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img id="AnaResim" src="@Model.resimUrller[0]" alt="" />
                        </div>
                        <div id="similar-product" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" style="height:80px !important">
                                @{
                                    int i = 0;
                                }
                                <div class="item active">
                                    @foreach (var resimurl in Model.resimUrller)
                                    {
                                        i++;                                      
                                        @(i % 4 == 0 ? Html.Raw("</div><div class=\"item \">") : Html.Raw("")) 
                                         <img class="miniresim" src="@resimurl"  width="80" height="80" alt="@Model.baslik">
                                        
	                                }
                                </div>
                                

                            </div>

                            <!-- Controls -->
                            <a class="left item-control" href="#similar-product" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right item-control" href="#similar-product" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            <!--/product-information-->
                            
                       
                            <h2>@Model.baslik</h2>
                         
                            <img src="/images/product-details/rating.png" alt="" />
                            <span>
                                <span>@Html.Raw(Model.fiyat)</span>
                                <br />
                                <label>Adet :</label>
                                <input type="text" id="urunadet" value="0" />
                                <a href="#" data-resimurl="@Model.resimUrller[0]" data-urunad="@Model.baslik" data-urunid="@Model.urunID" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </span>
                            <p><b>@lang.satistami &nbsp;</b>@Html.Raw(Model.stok > 0 ? lang.evet : lang.hayir)</p>
                            <p><b>@lang.stok &nbsp;</b> @Model.stok</p>                           
                            <p><b>@lang.satici</b>@Model.satici</p>
                            <p><b>@lang.kategoriler</b>@Model.kategori</p>
                            <p><b>@lang.urunyildizi</b>@Model.urunYildizSayisi</p>
                        </div><!--/product-information-->
                    </div>
                </div><!--/product-details-->

                <div class="category-tab shop-details-tab">
                    <!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#details" data-toggle="tab">@lang.detay</a></li>                           
                            <li><a href="#prop" data-toggle="tab">@lang.ozellikler</a></li>
                            <li ><a href="#reviews" data-toggle="tab">@lang.yorumlarveoylar</a></li>
                            <li><a href="#companyprofile" data-toggle="tab">@lang.saticidigerurunler</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="details" style="padding:20px">
                            @Html.Raw(Model.urunDetay)
                        </div>

                      
                        <div class="tab-pane fade" id="companyprofile">
                            @foreach (var item in Model.saticiDigerUrunleri)
                            {   <a href="@Url.Action("urun", "main", new { urunurl = item.guvenliUrl, dil = YardimciMethodlar.dilSessionGetir() })">
                                    <div class="col-sm-3">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="@item.resimurl" alt="" />
                                                    <h2>@Html.Raw(item.ucret)</h2>
                                                    <p>@item.baslik</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                            
                         
                       
                           
                        </div>

                        <div class="tab-pane fade" id="prop" style="padding:20px">
                            
                            <table class="table">                              
                                <tbody>
                                  @{
                                      bool siratut = true;
                                      foreach (var item in Model.ozellikler)
                                      {
                                          if (siratut)
                                          {
                                              siratut = !siratut;
                                               <tr class="">
                                                    <td>@item.Key</td>                                       
                                                    <td>@item.Value</td>
                                               </tr>
                                          }
                                          else
                                          {
                                              siratut = !siratut;
                                            <tr class="success">
                                                <td>@item.Key</td>
                                                <td>@item.Value</td>
                                            </tr>
                                          }
                                      }
}                                                                  
                                </tbody>
                            </table>
                          
                        </div>

                        <div class="tab-pane fade" id="reviews">
                            <ul>
                                <li>@lang.saticiyildizi &nbsp;@Model.saticiYildizSayisi</li>
                                
                            </ul>
                           @foreach (var item in Model.yorumlar)
                           {
                               DateTime time = Convert.ToDateTime(item.yorumtarihi);
                            <div class="col-sm-12">
                                <ul class="media-list">
                                    <li class="media">                                      
                                        <div class="media-body">
                                            <ul class="sinlge-post-meta">
                                                <li><i class="fa fa-user"></i>@item.adSoyad</li>
                                                @*<li><i class="fa fa-clock-o"></i>@time.Hour</li>*@
                                                <li><i class="fa fa-calendar"></i> @time.ToShortDateString()</li>
                                                <li><i class="fa fa-star-o"></i>@item.yildiz</li>
                                            </ul>
                                            <p>@item.yorum
                                            </div>
                                        </li>
                                   </ul>

                            </div>
                               <hr/>
                            }

                            <hr />
                            <p><b>@lang.yorumyaz</b></p>
                            @using (Html.BeginForm("yorumYap","main",FormMethod.Post))
                            {
                                @Html.HiddenFor(m => m.urunID)
                                @Html.Hidden("redirectURL", @Request.Url)
                                @Html.Hidden("urunsaticiID", Model.saticiID)
                                <span>
                                    <input type="text" name="adSoyad" placeholder="@lang.adsoyad" />
                                    <input type="email" name="email" placeholder="@lang.email" />
                                </span>
                                <textarea name="yorum" placeholder="@lang.yorumyaz"></textarea>   
                                <h4>Oyunuz</h4>
                                <fieldset class="rating">
                                    <input type="radio" id="star5" name="yildiz" value="10" /><label class="full" for="star5" title="5 Yıldız"></label>
                                    <input type="radio" id="star4half" name="yildiz" value="9" /><label class="half" for="star4half" title="4.5 Yıldız"></label>
                                    <input type="radio" id="star4" name="yildiz" value="8" /><label class="full" for="star4" title="4 Yıldız"></label>
                                    <input type="radio" id="star3half" name="yildiz" value="7" /><label class="half" for="star3half" title="3.5 Yıldız"></label>
                                    <input type="radio" id="star3" name="yildiz" value="6" /><label class="full" for="star3" title="3 Yıldız"></label>
                                    <input type="radio" id="star2half" name="yildiz" value="5" /><label class="half" for="star2half" title="2.5 Yıldız"></label>
                                    <input type="radio" id="star2" name="yildiz" value="4" /><label class="full" for="star2" title="2 Yıldız"></label>
                                    <input type="radio" id="star1half" name="yildiz" value="3" /><label class="half" for="star1half" title="1.5 Yıldız"></label>
                                    <input type="radio" id="star1" name="yildiz" value="2" /><label class="full" for="star1" title="1 Yıldız"></label>
                                    <input type="radio" id="starhalf" name="yildiz" value="1" /><label class="half" for="starhalf" title="0.5 Yıldız"></label>
                                </fieldset>           
                                <button type="submit" class="btn btn-default pull-right">
                                    @lang.yolla
                                </button>
                            }
                           
                        </div>

                    </div>
                </div><!--/category-tab-->

            @Html.Partial("_tavsiyeEdilenUrunlerPartial")

            </div>
        </div>
    </div>
</section>

