﻿@using b141210041_MusaDemir.Models;
@using b141210041_MusaDemir.Resources;
@model List<b141210041_MusaDemir.Models.ModelkullaniciSiparis>
@{
    ViewBag.Title = "satinAldiklarim";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}
@section scripts{

    <script>
        $(".alisonayla").click(function () {
            var sipid = $(this).data("id");
            swal({
                title: 'Satışı Onaylamak İstediğinize Eminmisiniz ?',
                text: "Satışı Onaylarsanız ürün ücreti site hesabından alıcı hesabına geçirilir geri dönüş yoktur!!!",
                html: true,
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Evet , Ürünü Aldım Sağlam,Onayla",
                cancelButtonText: "Hayır, Onaylama",
                closeOnConfirm: false
            },
           function () {
               $.ajax({
                   url: "/kullaniciSiparis/aliciOnay?id=" + sipid,
                   type: "GET",
                   datatype: "text",
                   traditional: true,
                   async: true,
                   cache: false
               }).done(function (result) {
                   if (result == "true") {
                       swal("Başarılı", "Alışveriş Tamamlandı", "success");
                   } else {
                       swal("Hata", "Bir Hata ile karşılaşıldı", "error");
                   }
               });
           });
        });

    </script>
}
<table class="table table-condensed">
    <thead>
        <tr class="cart_menu">
            <td class="description">@lang.urun</td>
            <td class="price">@lang.ucret</td>
            <td class="quantity">@lang.adet</td>
            <td class="total">@lang.toplamda</td>
            <td>@lang.kargotakip</td>
            <td>@lang.siparisdurumu</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var urun in Model)
        {
            <tr >
             
                <td class="cart_description">
                    <a href="@Url.Action("urun", "main", new { dil = YardimciMethodlar.dilSessionGetir(), urunurl=urun.urungurl })">@(urun.baslik.Length > 50 ? urun.baslik.Substring(0, 49) : urun.baslik)</a>
                    <p>Web ID: @urun.siparisID</p>
                </td>
                <td class="cart_price">
                    <p>@Html.Raw(urun.ucret)</p>
                </td>
                <td class="cart_quantity">
                    @urun.siparisMiktari
                </td>
                <td class="cart_total">
                    <p class="cart_total_price">@Html.Raw(" &#x20BA;" + urun.ucret)</p>
                </td>
                <td class="cart_total">
                   @Html.TextArea(urun.kargotakip, urun.kargotakip, new { @class = "form-control" ,@readonly="true"})
                </td>
                <td class="cart_total">
                    <p class="cart_total_price">@urun.siparisDurum</p>
                </td>
                @if (urun.aliciOnay!=true)
                {
                     <td class="cart_delete">
                         <button class="alisonayla btn btn-primary" data-id="@urun.siparisID">@lang.onayla</button>
                    </td>
                }else
	            {
                    <td class="cart_delete">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </td>
	            }
               
            </tr>
        }

    </tbody>
</table>