﻿@using b141210041_MusaDemir.Models;
@using b141210041_MusaDemir.Resources;
@model List<b141210041_MusaDemir.Models.ModelkullaniciSiparis>
@{
    ViewBag.Title = "sattiklarim";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}
@section scripts {
    <script>
        $(".kargoTakip").click(function () {

            var sipid = $(this).data("id");
            var kargoTakipNot = $("textarea[id=" + sipid + "]").val();
            $.ajax({
                url: "/kullaniciSiparis/kargoTakipAyarla?id=" + sipid + "&veri=" + kargoTakipNot,
                datatype: "text",
                traditional: true,
                async: true,
                cache: false
            }).done(function (result) {
                if (result == "true") {
                    sweetAlert("Başarılı", "Kargo Takip Bilgileri Duzenlendi", "success");
                }
            });

        });

        $(".satisonayla").click(function () {
            var sipid = $(this).data("id");
            swal({
                title: 'Satışı Onaylamak İstediğinize Eminmisiniz ?',
                text: "Satışı Onaylamanız ürünün stoklarda olduğunu ve alıcıya ürünü ileteceğinizi gösterir",
                html: true,
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Evet , Onayla",
                cancelButtonText: "Hayır, Onaylama",
                closeOnConfirm: false
            },function () {
               $.ajax({
                   url: "/kullaniciSiparis/saticiOnay?id=" + sipid,
                   type: "GET",
                   datatype: "text",
                   traditional: true,
                   async: true,
                   cache: false
               }).done(function (result) {
                   if (result == "true") {
                       swal("Başarılı", "Onaylandı", "success");
                   } else {
                       swal("Hata", "Bir Hata ile karşılaşıldı", "error");
                   }
               });
            });
            return false;
        });

    </script>
}
<table class="table table-condensed">
    <thead>
        <tr class="cart_menu">
            <td class="description">@lang.urun</td>
            <td class="price">@lang.ucret</td>
            <td class="quantity">@lang.adet</td>
            <td class="total">@lang.toplamda</td>
            <td>@lang.kargotakip</td>
            <td>@lang.siparisdurumu</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var urun in Model)
        {
            <tr>
              
                <td class="cart_description">
                    <a href="@Url.Action("urun", "main", new { dil = YardimciMethodlar.dilSessionGetir(), urunurl=urun.urungurl })">@(urun.baslik.Length > 50 ? urun.baslik.Substring(0, 49) : urun.baslik)</a>
                    <p>Web ID: @urun.siparisID</p>
                </td>
                <td class="cart_price">
                    <p>@Html.Raw(urun.ucret)</p>
                </td>
                <td class="cart_quantity">
                    @urun.siparisMiktari
                </td>
                <td class="cart_total">
                    <p class="cart_total_price">@Html.Raw(" &#x20BA;" + urun.ucret)</p>
                </td>
                @if (urun.saticiOnay != true)
                {
                     <td class="cart_total">
                        @Html.TextArea(urun.kargotakip, YardimciMethodlar.dilSessionGetir()=="en"?"Firstly you sholud apply this":" Öncelikle Alışverisi onaylamalısınız", new { @class = "form-control", @id = urun.siparisID ,@readonly="true"})
                    </td>
                }
                else
                {
                    <td class="cart_total">
                    @Html.TextArea(urun.kargotakip, urun.kargotakip, new { @class = "form-control", @id = urun.siparisID })
                       <button type="button" class="btn btn-primary pull-right kargoTakip" data-id="@urun.siparisID">@lang.ayarla</button>
                    </td>
                }               
                <td class="cart_total">
                    <p class="cart_total_price">@urun.siparisDurum</p>
                </td>
                @if (urun.saticiOnay != true)
                {
                    <td class="cart_delete">
                        <button class="satisonayla btn btn-primary" data-id="@urun.siparisID">@lang.onayla</button>
                    </td>
                }else
	            {
                    <td class="cart_delete">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </td>
	            }
            </tr>
        }

    </tbody>
</table>