﻿@model b141210041_MusaDemir.Models.uyeler

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>uyeler</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.uyeAdSoyad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.uyeAdSoyad)
                @Html.ValidationMessageFor(model => model.uyeAdSoyad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kullaniciAdi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kullaniciAdi)
                @Html.ValidationMessageFor(model => model.kullaniciAdi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sifre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sifre)
                @Html.ValidationMessageFor(model => model.sifre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.telefonNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.telefonNo)
                @Html.ValidationMessageFor(model => model.telefonNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ceptelno, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ceptelno)
                @Html.ValidationMessageFor(model => model.ceptelno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.profilFoto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.profilFoto)
                @Html.ValidationMessageFor(model => model.profilFoto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bakiye, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bakiye)
                @Html.ValidationMessageFor(model => model.bakiye)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.uyeRol, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.uyeRol)
                @Html.ValidationMessageFor(model => model.uyeRol)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cinsiyet, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cinsiyet)
                @Html.ValidationMessageFor(model => model.cinsiyet)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dogumTarihi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dogumTarihi)
                @Html.ValidationMessageFor(model => model.dogumTarihi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TCno, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TCno)
                @Html.ValidationMessageFor(model => model.TCno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.eposta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.eposta)
                @Html.ValidationMessageFor(model => model.eposta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.guvenlikSorusu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.guvenlikSorusu)
                @Html.ValidationMessageFor(model => model.guvenlikSorusu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.guvenlikSorusuCevabi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.guvenlikSorusuCevabi)
                @Html.ValidationMessageFor(model => model.guvenlikSorusuCevabi)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
