﻿@model b141210041_MusaDemir.Models.uyeler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>uyeler</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.uyeAdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uyeAdSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kullaniciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ceptelno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ceptelno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profilFoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profilFoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bakiye)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bakiye)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uyeRol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uyeRol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cinsiyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cinsiyet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dogumTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dogumTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TCno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TCno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eposta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guvenlikSorusu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guvenlikSorusu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guvenlikSorusuCevabi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guvenlikSorusuCevabi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.uyeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
