﻿@model IEnumerable<b141210041_MusaDemir.Models.uyeler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.uyeAdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kullaniciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sifre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefonNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ceptelno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.profilFoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bakiye)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uyeRol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cinsiyet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dogumTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TCno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eposta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.guvenlikSorusu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.guvenlikSorusuCevabi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.uyeAdSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kullaniciAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sifre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefonNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ceptelno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.profilFoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bakiye)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uyeRol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cinsiyet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dogumTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TCno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eposta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.guvenlikSorusu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.guvenlikSorusuCevabi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.uyeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.uyeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.uyeID })
        </td>
    </tr>
}

</table>
