﻿@model b141210041_MusaDemir.Models.yorumlar

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>yorumlar</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.adSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yorum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yorum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yildiz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yildiz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yorumtarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yorumtarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.urunler.basliktr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.urunler.basliktr)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.yorumID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
