﻿@model b141210041_MusaDemir.Models.yorumlar

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>yorumlar</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.yorumID)

        <div class="form-group">
            @Html.LabelFor(model => model.urunID, "urunID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("urunID", ViewBag.urunID as SelectList, new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.urunID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.adSoyad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.adSoyad, new { @class = "form-control"  })
                @Html.ValidationMessageFor(model => model.adSoyad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.yorum, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.yorum, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.yorum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.yildiz, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.yildiz, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.yildiz)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.yorumtarihi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.yorumtarihi, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.yorumtarihi)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
