﻿@using b141210041_MusaDemir.Models
@model IEnumerable<b141210041_MusaDemir.Models.yorumlar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.urunler.basliktr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>              
        <th>
            @Html.DisplayNameFor(model => model.yorumtarihi)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.urunler.basliktr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.yorumtarihi)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.yorumID, dil = YardimciMethodlar.dilSessionGetir() }) |
            @Html.ActionLink("Details", "Details", new { id = item.yorumID, dil = YardimciMethodlar.dilSessionGetir() }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.yorumID, dil = YardimciMethodlar.dilSessionGetir() })
        </td>
    </tr>
}

</table>
