﻿@using b141210041_MusaDemir.Models;
@model IEnumerable<b141210041_MusaDemir.Models.imagesviewmodel>
@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="~/Scripts/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".returnImage").click("click", function (e) {
                var urlImage = $(this).attr("data-url");

                window.opener.updateValue(urlImage);
                window.close();
            });


            $(".resimsilbtn").click(function () {

                var resimurl = $(this).data("resimurl");
                var itemid = $(this).data("id");
               
                $.ajax({
                    url: "/ckeditorkontrol/resimSil?adres=" + resimurl,
                    type: "GET",
                    datatype: "text",
                    traditional: true,
                    async: true,
                    cache: false
                }).done(function (result) {
                    if (result == "true") {
                        $("#" + itemid).html('<img src="/images/404/deleted.jpg" alt="Silindi" width="200" height="200" > ');
                        alert("Başarılı", "Resim Silindi.", "success");
                    } else {
                        alert("Hata", "Bir Hata ile karşılaşıldı", "error");
                    }
                });


                return false;


            });

        });
    </script>
    <style>
        .container {
            border: 1px solid #DDDDDD;
            width: 200px;
            height: 200px;
            position: relative;
            float:left;
        }

        .tag {
            float: left;
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 1000;
            background-color: red;
            color: white;
            padding: 5px;
            font-weight: bold;
            cursor:pointer;
        }
    </style>
</head>
<body>
    <div>
        @foreach (var image in Model)
        {
            if (YardimciMethodlar.uyeAdminmi())
            {
                 <div class="container" id="@image.ID">
                    <a class="tag resimsilbtn" data-id="@image.ID" data-resimurl="@image.Url" title="Sil">X</a>
                    <a href="#" class="returnImage" data-url="@Request.Url.GetLeftPart(UriPartial.Authority)@image.Url">
                        <img src="@image.Url" alt="Hejsan" id="#image" data-source="@image.Url" width="200" height="200" />
                    </a>
                </div>
            }
            else
            {
                    <a href="#" class="returnImage" data-url="@Request.Url.GetLeftPart(UriPartial.Authority)@image.Url">
                    <img src="@image.Url" alt="Hejsan" id="#image" data-source="@image.Url" width="200" height="200" />
                </a>
            }
           
        }

    </div>
</body>
</html>