﻿@using b141210041_MusaDemir.Models;
@using b141210041_MusaDemir.Resources;
@model b141210041_MusaDemir.Models.Modelkullanici_odeme
@{
    ViewBag.Title = "odeme";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}
@section scripts{
    <script>    
        $(document).ready(function () {
            //Initialize tooltips
            $('.nav-tabs > li a[title]').tooltip();

            //Wizard
            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

                var $target = $(e.target);

                if ($target.parent().hasClass('disabled')) {
                    return false;
                }
            });

            $(".next-step").click(function (e) {

                var $active = $('.wizard .nav-tabs li.active');
                $active.next().removeClass('disabled');
                nextTab($active);

            });
            $(".prev-step").click(function (e) {

                var $active = $('.wizard .nav-tabs li.active');
                prevTab($active);

            });
        });

        function nextTab(elem) {
            $(elem).next().find('a[data-toggle="tab"]').click();
        }
        function prevTab(elem) {
            $(elem).prev().find('a[data-toggle="tab"]').click();
        }
        $("#sil").click(function () {
            swal({
                title: 'Başarılı!',
                text: "Bilgileriniz Silindi",
                type:"success",
                confirmButtonColor: "#DD6B55",
                closeOnConfirm: false
            },
            function () {
                window.location.replace("http://localhost:52297/");

            });
        });
    </script>
}

<section id="cart_items" class="sectioncontainer">
    <div class="container">
        <div class="row" style=" background-color:white;"">
            @{
                eticaretEntities db = new eticaretEntities();
                var liste = YardimciMethodlar.sepetGetir();// key değeri urunid value değeri sayiyi tutuyor
                Dictionary<urunMiniStruct, int> gidecekveri = new Dictionary<urunMiniStruct, int>();
                foreach (var item in liste)
                {
                    if (item.Value == 0)// ürün listeden çıkarılmış 0 tane var
                    {

                    }
                    else
                    {
                        var urun = db.urunler.Where(u => u.urunID == item.Key).SingleOrDefault();
                        urunMiniStruct gidecekurun = new urunMiniStruct()
                        {
                            urunID = urun.urunID,
                            baslik = YardimciMethodlar.dilSessionGetir() == "tr" ? urun.basliktr : urun.basliken,
                            guvenliUrl = urun.guvenliurl,
                            resimurl = urun.urunAnaResim,
                            ucret = urun.yeniFiyat.ToString()
                        };

                        gidecekveri.Add(gidecekurun, item.Value);
                    }
                }
            }
            @if (gidecekveri.Count() > 0)
            {
                int toplamucret = 0;
                <div class="table-responsive cart_info">

                    <input type="hidden" name="dil" value="@YardimciMethodlar.dilSessionGetir()" />

                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="description">@lang.urun</td>
                                <td class="price">@lang.ucret</td>
                                <td class="quantity">@lang.adet</td>
                                <td class="total">@lang.toplamda</td>
                                <td>@lang.kargotakip</td>
                                <td>@lang.siparisdurumu</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var veri in gidecekveri)
                            {
                                int miktar = veri.Value;
                                var urun = veri.Key;
                                int ucret = Convert.ToInt32(urun.ucret);
                                int c_ucret = miktar * ucret;
                                toplamucret += c_ucret;
                                urun.ucret = " &#x20BA;" + urun.ucret;
                                <tr id="@urun.urunID" data-ucret="@ucret">
                                    <td class="cart_product">
                                        <a href="@Url.Action("urun", "main", new { dil = YardimciMethodlar.dilSessionGetir(), urunurl=urun.guvenliUrl })"><img src="@urun.resimurl" style="max-height:100px;max-width:100px;" alt="@urun.baslik"></a>
                                    </td>
                                    <td class="cart_description">
                                        <h4><a href="">@(urun.baslik.Length > 50 ? urun.baslik.Substring(0, 49) : urun.baslik)</a></h4>
                                        <p>Web ID: @urun.urunID</p>
                                    </td>
                                    <td class="cart_price">
                                        <p>@Html.Raw(urun.ucret)</p>
                                    </td>
                                    <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                           
                                            <input class="cart_quantity_input" type="text" value="@miktar" autocomplete="off" size="2" readonly>
                                          
                                        </div>
                                    </td>
                                    <td class="cart_total">
                                        <p class="cart_total_price" data-toplamucret="@urun.urunID">@Html.Raw(" &#x20BA;" + c_ucret)</p>
                                    </td>
                                    
                                </tr>





                            }

                        </tbody>
                    </table>
                    <p class="cart_total_price">@lang.toplamda @Html.Raw(" &#x20BA;" + toplamucret)</p>
                </div>
            }
            else
            {
                <div class="alert alert-danger" style="text-align:center"><span>@lang.sepetbos</span> <a href="@Url.Action("index", "main", new { dil = YardimciMethodlar.dilSessionGetir() })" style="color:green">@lang.alisverisebasla</a></div>
            }

        </div>
     
    </div>
</section> <!--/#cart_items-->

        <div class="container" >
            <div class="row" style="background-color:white;">
                <section>
                    <div class="wizard">
                        <div class="wizard-inner">
                            <div class="connecting-line"></div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                                        <span class="round-tab">
                                            <i class="glyphicon glyphicon-user "></i>
                                        </span>
                                    </a>
                                </li>
                                <li role="presentation" class="disabled">
                                    <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                                        <span class="round-tab">
                                            <i class="glyphicon glyphicon-globe"></i>
                                        </span>
                                    </a>
                                </li>
                                <li role="presentation" class="disabled">
                                    <a href="#cartinfo" data-toggle="tab" aria-controls="complete" role="tab" title="Credit Cart">
                                        <span class="round-tab">
                                            <i class="glyphicon glyphicon-credit-card"></i>
                                        </span>
                                    </a>
                                </li>
                                <li role="presentation" class="disabled">
                                    <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                                        <span class="round-tab">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </span>
                                    </a>
                                </li>
                              
                                <li role="presentation" class="disabled">
                                    <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                                        <span class="round-tab">
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </span>
                                    </a>
                                </li>
                              
                            </ul>
                        </div>
                        @using (Html.BeginForm("odeme","kullanici",FormMethod.Post))
                        {
                            
                       
                      
                            <div class="tab-content">
                                <div class="tab-pane active" role="tabpanel" id="step1">
                                    <h3>@lang.faturabilgileri</h3>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.AdSoyad)
                                        @Html.TextBoxFor(m => m.AdSoyad, new { @class = "form-control", required = "required" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.email)
                                        @Html.TextBoxFor(m => m.email, new { @class = "form-control", @type = "email", required = "required" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.telefonNo)
                                        @Html.TextBoxFor(m => m.telefonNo, new { @class = "form-control", @type = "tel", required = "required" })
                                    </div>
                                   
                                    
                                    <ul class="list-inline pull-right">
                                        <li><button type="button" class="btn btn-primary next-step">Kaydet ve Devam Et</button></li>
                                    </ul>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="step2">
                                    <h3>@lang.adressecin</h3>
                                    <div class="form-group">
                                       @Html.LabelFor(m => m.adresID)
                                        @Html.DropDownList("adresID", null, new { size = 4, @class = "form-control" })
                                    </div>
                                    <a href="@Url.Action("Create", "kullaniciAdresislemleri", new { dil = b141210041_MusaDemir.Models.YardimciMethodlar.dilSessionGetir() })" class="btn btn-success">@lang.yenibiradressekle</a>
                                   
                                    <ul class="list-inline pull-right">
                                        <li><button type="button" class="btn btn-primary prev-step">@lang.geri</button></li>
                                        <li><button type="button" class="btn btn-primary next-step">@lang.kaydetvedevamet</button></li>
                                    </ul>
                                </div>
                              
                                <div class="tab-pane" role="tabpanel" id="cartinfo">
                                    <h3>@lang.kartbilgileri</h3>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.kartno)
                                        @Html.TextBoxFor(m => m.kartno, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.kartSahibiAdSoyad)
                                        @Html.TextBoxFor(m => m.kartSahibiAdSoyad, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.sonkullanmatarihi)
                                        @Html.TextBoxFor(m => m.sonkullanmatarihi, new { @class = "form-control",@type="date" })
                                    </div>
                                    <ul class="list-inline pull-right">
                                        <li><button type="button" class="btn btn-primary prev-step">@lang.geri</button></li>
                                        <li><button type="button" class="btn btn-primary btn-info-full next-step">@lang.kaydetvedevamet</button></li>
                                    </ul>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="step3"><!--bitiş-->
                                    <h3>@lang.aciklama @lang.nrequired</h3>
                                    @Html.TextAreaFor(m => m.aciklama, new { @class = "form-control" })
                                    <ul class="list-inline pull-right">
                                        <li><button type="button" class="btn btn-primary prev-step">@lang.geri</button></li>
                                        <li><button type="button" class="btn btn-primary next-step">@lang.notekleme</button></li>
                                        <li><button type="button" class="btn btn-primary btn-info-full next-step">@lang.kaydetvedevamet</button></li>
                                    </ul>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="complete">
                                    <h3>@lang.basarili</h3>
                                    <h5>@lang.bilgilerkaydedildiode</h5>
                                    <ul class="list-inline pull-right">
                                        <li><button type="button" class="btn btn-primary prev-step">@lang.geri</button></li>
                                        <li><a href="@Url.Action("index", "main", new { dil = YardimciMethodlar.dilSessionGetir() })" id="sil" class="btn btn-primary next-step">@lang.hayirbilgilerisil</a></li>
                                        <li><button type="submit" class="btn btn-primary">@lang.satinal</button></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        }
                    </div>
                </section>
            </div>
        </div>
    
  