﻿@using b141210041_MusaDemir.Models;
@model b141210041_MusaDemir.Models.urunler
@{
    ViewBag.Title = "Ürün Düzenle";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}


<h3>Yeni Ürün</h3>

@section scripts
        {
    <script>
        $("#anakategoriliste").click(function () {
            var veri = $(this).find(":selected").attr('value');
            $.ajax({
                url: "/kullanici/altkategorileriGetir?id=" + veri,
                type: "GET",
                datatype: "text",
                traditional: true,
                async: true,
                cache: false
            }).done(function (result) {
                $("#altkategoridiv").html(result);
                $("#urunkategoridiv").html("<select class=\"form-control col-md-3\" id=\"urunkategoriliste\" name=\"urunkategoriliste\"></select>");
            });
        });
        $("#arakategoriliste").click(function () {
            var veri = $(this).find(":selected").attr('value');
            $.ajax({
                url: "/kullanici/urunkategorileriGetir?id=" + veri,
                type: "GET",
                datatype: "text",
                traditional: true,
                async: true,
                cache: false
            }).done(function (result) {
                $("#urunkategoridiv").html(result);
            });
        });
        $("#urunkategoriliste").click(function () {
            var urunkategoriveri = $(this).find(":selected").attr('value');
            $('#kategoriID').attr('value', urunkategoriveri);

            $.ajax({
                url: "/kullanici/kategoriozellik?id=" + urunkategoriveri,
                type: "GET",
                datatype: "text",
                traditional: true,
                async: true,
                cache: false
            }).done(function (result) {
                $("#kategoriozellikdiv").html(result);
            });
        });

        $(".resimsilbtn").click(function () {

            var resimurl = $(this).data("resimurl");
            var itemid = $(this).data("id");
            swal({
                title: '<img src ="' + resimurl + '" class="img-responsive col-md-12"/>',
                text: "Resmi Silmek istediğinize eminmisiniz?",
                html: true,
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Evet , Resmi Sil",
                cancelButtonText: "Hayır, Silme",
                closeOnConfirm: false
            },
            function () {
                $.ajax({
                    url: "/kullanici/resimSil?adres=" + resimurl,
                    type: "GET",
                    datatype: "text",
                    traditional: true,
                    async: true,
                    cache: false
                }).done(function (result) {
                    if (result == "true") {
                        $("#" + itemid).html('<img src="/images/404/deleted.jpg" alt="Silindi"> ');
                        swal("Başarılı", "Resim Silindi.", "success");
                    } else {
                        swal("Hata", "Bir Hata ile karşılaşıldı", "error");
                    }
                });


            });

            return false;


        });
    </script>
}

<div id="anakategoridiv" class="col-md-4" style="margin-bottom:10px">
    <select class="form-control" size="10" name="anakategoriliste" id="anakategoriliste">
        @foreach (var item in ViewBag.anakategoriliste as List<SelectListItem>)
        {
            if (item.Selected)
            {
                <option value="@item.Value" selected>@item.Text</option>
            }
            else
            {
                <option value="@item.Value">@item.Text</option>
            }
        }
    </select>
</div>
<div id="altkategoridiv" class="col-md-4" style="margin-bottom:10px">
    <select class="form-control" size="10" name="arakategoriliste" id="arakategoriliste">
        @foreach (var item in ViewBag.arakategoriliste as List<SelectListItem>)
        {
            if (item.Selected)
            {
                <option value="@item.Value" selected>@item.Text</option>
            }
            else
            {
                <option value="@item.Value">@item.Text</option>
            }
        }
    </select>
</div>
<div id="urunkategoridiv" class="col-md-4" style="margin-bottom:10px">
    <select class="form-control" size="10" name="urunkategoriliste" id="urunkategoriliste">
        @foreach (var item in ViewBag.urunkategoriliste as List<SelectListItem>)
        {
            if (item.Selected)
            {
                <option value="@item.Value" selected>@item.Text</option>
            }
            else
            {
                <option value="@item.Value">@item.Text</option>
            }
        }
    </select>
   
    </div>
<div id="urundiv" class="col-sm-12 col-md-12">
    @using (Html.BeginForm("urunDuzenle", "kullanici", FormMethod.Post, new { @style = "padding: 20px", @enctype = "multipart/form-data" }))
    {   @Html.AntiForgeryToken()
        <div class="form-group col-sm-12 col-md-12">
            @Html.Label(b141210041_MusaDemir.Resources.lang.markasec, new { @class = "control-label col-md-3", @style = "padding:5px" })
            <div class="col-md-9" style="padding:5px">
                <select class="form-control" name="markaID" id="markaID" required>
                    @foreach (var item in ViewBag.markaID as SelectList)
                    {
                        if (Convert.ToInt32(item.Value) == Model.markaID)
                        {
                            <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
       
                @Html.ValidationMessageFor(model => model.markaID)
            </div>
        </div>

        <div>
            @Html.HiddenFor(m => m.kategoriID)
                <input type="hidden" name="kategoriozellik[0].Key" value="-1" required />
                <input type="hidden" name="kategoriozellik[0].Value" value="-1" />
           
        </div>


    <div class="form-group" style="padding:5px">
        @Html.LabelFor(model => model.yeniFiyat, new { @class = "control-label col-md-3", @style = "padding:5px" })
        <div class="col-md-9" style="padding:5px">
            @Html.TextBoxFor(model => model.yeniFiyat, new { @class = "form-control", @type = "number", @required = "required" })
            @Html.ValidationMessageFor(model => model.yeniFiyat)
        </div>
    </div>
    <div class="form-group" style="padding:5px">
        @Html.LabelFor(model => model.stok, new { @class = "control-label col-md-3", @style = "padding:5px" })
        <div class="col-md-9" style="padding:5px">
            @Html.TextBoxFor(model => model.stok, new { @class = "form-control", @type = "number", @required = "required", @min = "1" })
            @Html.ValidationMessageFor(model => model.stok)
        </div>
    </div>
        var liste = ViewBag.urunresimleri as List<string>;

          if (liste.Count>0)
          {
              int i = 0;
         
        <div class="form-group">
            <div class="col-md-3">@b141210041_MusaDemir.Resources.lang.resimler</div>
            <div class="col-md-9" style="padding:5px">
                <div class="col-md-12">
                    
                    
                    <div id="similar-product" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            @foreach (var item in liste)
                            {
                                if (i==0)
                                {
                                <div class="item active pull-right" id="@i">                             
                                    <img src="@item" alt="@item"> 
                                    <h2><a href="" class="resimsilbtn" data-resimurl="@item" data-id="@i" title="Resmi Sil"><font size="4">X</font></a>   </h2>                      
                                </div>

                                }
                                else
                                {
                                    <div class="item pull-right" id="@i">
                                        <img src="@item" alt="@item">
                                        <h2><a href="" class="resimsilbtn" data-resimurl="@item" data-id="@i" title="Resmi Sil"><font size="4">X</font></a>   </h2>
                                    </div>
                                }
                                i++;

                            }
                        </div>

                        <!-- Controls -->
                        <a class="left item-control" href="#similar-product" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right item-control" href="#similar-product" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                    
                    
                    
                    
                     
                </div>
               

            </div>

        </div>
          }
    
         <div class="form-group" style="padding:5px">
                    @Html.Label(b141210041_MusaDemir.Resources.lang.resimekle, new { @class = "control-label col-md-3", @style = "padding:5px" })
                    <div class="col-md-9" style="padding:5px">
                        <input type="file" name="resimler" id="resimler" class="form-control" multiple />
                    </div>
                </div>
        <div id="kategoriozellikdiv">
            @{
        Html.RenderAction("kategoriozellikDoluGetir", new { katid = Model.kategoriID, urunid = Model.urunID });
                }
        </div>
        <div class="category-tab col-sm-12 ">
            <!--category-tab-->
            <div class="col-sm-12" style="padding:0;">
                <ul class="nav nav-tabs">
                    <li class="active col-md-6"><a href="#tr" data-toggle="tab">Türkçe</a></li>
                    <li class="col-md-6"><a href="#en" data-toggle="tab">English</a></li>
                </ul>
            </div>

            <div class="tab-content">

                <div class="tab-pane fade active in" id="tr">

                    <div class="form-group">
                        @Html.LabelFor(model => model.basliktr, new { @class = "control-label col-md-3", @style = "padding:5px" })
                        <div class="col-md-9" style="padding:5px">
                            @Html.TextBoxFor(model => model.basliktr, new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.basliktr)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.detaytr, new { @class = "control-label col-md-3", @style = "padding:5px" })
                        <div class="col-md-9" style="padding:5px">
                            @Html.TextAreaFor(model => model.detaytr, new { @class = "form-control ckeditor", @required = "required" })
                            @Html.ValidationMessageFor(model => model.detaytr)
                        </div>
                    </div>
                </div>
                <!-----------TR---------->

                <div class="tab-pane fade" id="en">
                    <div class="form-group">
                        @Html.LabelFor(model => model.basliken, new { @class = "control-label col-md-3", @style = "padding:5px" })
                        <div class="col-md-9" style="padding:5px">
                            @Html.TextBoxFor(model => model.basliken, new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.basliktr)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.detayen, new { @class = "control-label col-md-3", @style = "padding:5px" })
                        <div class="col-md-9" style="padding:5px">
                            @Html.TextAreaFor(model => model.detayen, new { @class = "form-control ckeditor", @required = "required" })
                            @Html.ValidationMessageFor(model => model.detayen)
                        </div>
                    </div>


                </div>

            </div>

        </div><!---Tab Content-->

        <input type="submit" class="btn btn-default pull-right" value="Ürünü Düzenle" />




    }
</div>

