﻿@using b141210041_MusaDemir.Models;
@model b141210041_MusaDemir.Models.Modelkullanici_UrunEkle
@{
    ViewBag.Title = "Urun Ekle";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

      
<h3>Yeni Ürün</h3>
<div id="anakategoridiv" class="col-md-4" style="margin-bottom:10px">
    @Html.DropDownList("anakategoriliste", ViewBag.anakategoriliste as List<SelectListItem>, new { @class = "form-control", @size = "10" })
</div>
<div id="altkategoridiv" class="col-md-4" style="margin-bottom:10px"></div>
<div id="urunkategoridiv" class="col-md-4" style="margin-bottom:10px"></div>
@section scripts
{

    <script>
        $("#anakategoriliste").click(function () {
            var veri = $(this).find(":selected").attr('value');
            $.ajax({
                url: "/kullanici/altkategorileriGetir?id=" + veri,
                type: "GET",
                datatype: "text",
                traditional: true,
                async: true,
                cache: false
            }).done(function (result) {
                $("#altkategoridiv").html(result);
            });
        });
      
    </script>
    
}

       

        <div id="urundiv" class="col-sm-12 col-md-12" style="display: none;">
          @using (Html.BeginForm("urunEkle", "kullanici", FormMethod.Post, new { @style = "padding: 20px", @enctype = "multipart/form-data" }))
            {   @Html.AntiForgeryToken()
                <div class="form-group col-sm-12 col-md-12">
                    @Html.Label(b141210041_MusaDemir.Resources.lang.markasec, new { @class = "control-label col-md-3", @style = "padding:5px" })
                    <div class="col-md-9" style="padding:5px">
                        @Html.DropDownListFor(m => m.markaID, ViewBag.markaID as List<SelectListItem>, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.markaID)
                    </div>
                </div>
            
               <div>
                  @Html.HiddenFor(m => m.kategoriID)
                   <input type="hidden" name="kategoriozellik[0].Key" value="-1" required />
                   <input type="hidden" name="kategoriozellik[0].Value" value="-1" />
              </div>
            
               
                <div class="form-group">
                    @Html.LabelFor(model => model.yeniFiyat, new { @class = "control-label col-md-3", @style = "padding:5px" })
                    <div class="col-md-9" style="padding:5px">
                        @Html.TextBoxFor(model => model.yeniFiyat, new { @class = "form-control", @type = "number", @required = "required" })
                        @Html.ValidationMessageFor(model => model.yeniFiyat)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.stok, new { @class = "control-label col-md-3", @style = "padding:5px" })
                    <div class="col-md-9" style="padding:5px">
                        @Html.TextBoxFor(model => model.stok, new { @class = "form-control", @type = "number", @required = "required",@min="1" })
                        @Html.ValidationMessageFor(model => model.stok)
                    </div>
                </div>
             
                <div class="form-group">
                    @Html.LabelFor(model => model.resimler, new { @class = "control-label col-md-3", @style = "padding:5px" })
                    <div class="col-md-9" style="padding:5px">
                        <input type="file" name="resimler" id="resimler" class="form-control" multiple required/>
                    </div>
                    
                </div>
               <div id="kategoriozellikdiv"></div>
                <div class="category-tab col-sm-12 ">
                <!--category-tab-->
                    <div class="col-sm-12" style="padding:0;">
                        <ul class="nav nav-tabs">
                            <li class="active col-md-6"><a href="#tr" data-toggle="tab">Türkçe</a></li>
                            <li class="col-md-6"><a href="#en" data-toggle="tab">English</a></li>                
                        </ul>
                    </div>

                    <div class="tab-content">

                        <div class="tab-pane fade active in" id="tr">
                      
                            <div class="form-group">
                                @Html.LabelFor(model => model.basliktr, new { @class = "control-label col-md-3", @style = "padding:5px" })
                                <div class="col-md-9" style="padding:5px">
                                    @Html.TextBoxFor(model => model.basliktr, new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.basliktr)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.detaytr, new { @class = "control-label col-md-3", @style = "padding:5px" })
                                <div class="col-md-9" style="padding:5px">
                                    @Html.TextAreaFor(model => model.detaytr, new { @class = "form-control ckeditor",  @required = "required" })
                                    @Html.ValidationMessageFor(model => model.detaytr)
                                </div>
                            </div>
                        </div>
                        <!-----------TR---------->

                        <div class="tab-pane fade" id="en">
                            <div class="form-group">
                                @Html.LabelFor(model => model.basliken, new { @class = "control-label col-md-3", @style = "padding:5px" })
                                <div class="col-md-9" style="padding:5px">
                                    @Html.TextBoxFor(model => model.basliken, new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.basliktr)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.detayen, new { @class = "control-label col-md-3", @style = "padding:5px" })
                                <div class="col-md-9" style="padding:5px">
                                    @Html.TextAreaFor(model => model.detayen, new { @class = "form-control ckeditor", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.detayen)
                                </div>
                            </div>


                        </div>

                    </div>

            </div><!---Tab Content-->
  
    <input type="submit" class="btn btn-default pull-right" value="Ürünü Ekle" />




            }
</div>

