﻿@using b141210041_MusaDemir.Models
@using b141210041_MusaDemir.Resources
@model List<b141210041_MusaDemir.Models.urunler>

@{
    ViewBag.Title = "Ürünlerim";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>urunleriListele</title>
</head>
<body>
    <div>
        <h4>Ürünlerim</h4>
        <a href="@Url.Action("urunEkle", "kullanici", new { dil = YardimciMethodlar.dilSessionGetir() })">Yeni Ürün Ekle</a>
    	<hr />
        <table class="col-md-12" >
            <tr>
                <th>@lang.resimler</th>
                <th>@lang.baslik</th>
                <th>@lang.ucret</th>
                <th>@lang.stok</th>
                <th colspan="2" style="text-align:center"></th>
             

            </tr>
                @foreach (var item in Model)
                {

                        <tr>
                           
                                <td><a href="@Url.Action("urun", "main", new { dil = YardimciMethodlar.dilSessionGetir(), urunurl = item.guvenliurl })"><img src="@item.urunAnaResim" alt="Hata" class="img-responsive" style="max-height:100px;max-width:100px;" /> </a></td>
                                <td>@item.basliktr</td>
                                <td>@item.yeniFiyat</td>
                                <td>@item.stok</td>
                                <td><a href="@Url.Action("urunDuzenle", new { urunID = item.urunID, dil = YardimciMethodlar.dilSessionGetir() })">@lang.duzenle</a></td>
                                <td><a href="@Url.Action("urunSil", new { urunID = item.urunID })">@lang.sil</a></td>
                           
                    </tr>
                    
                }
               
           
        </table>

      
    </div>
 
</body>
</html>
