﻿@model b141210041_MusaDemir.Models.markalar

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>markalar</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.markaID)

        <div class="form-group">
            @Html.LabelFor(model => model.markaAd, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.markaAd)
                @Html.ValidationMessageFor(model => model.markaAd)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
