﻿@model IEnumerable<b141210041_MusaDemir.Models.markalar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.markaAd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.markaAd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.markaID, dil = b141210041_MusaDemir.Models.YardimciMethodlar.dilSessionGetir() })|
            @Html.ActionLink("Delete", "Delete", new { id = item.markaID, dil = b141210041_MusaDemir.Models.YardimciMethodlar.dilSessionGetir() })
        </td>
    </tr>
}

</table>
