﻿@model b141210041_MusaDemir.Models.anasayfakategoriler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>anasayfakategoriler</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kategoriler.enkategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategoriler.enkategoriAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
