﻿@using b141210041_MusaDemir.Models;
@model List<b141210041_MusaDemir.Models.anasayfakategoriler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            
            @Html.Raw(YardimciMethodlar.dilSessionGetir() == "en" ? "Category Name" : "Kategori Adi")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Raw(YardimciMethodlar.dilSessionGetir() == "en" ? item.kategoriler.enkategoriAdi : item.kategoriler.kategoriAdi)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
