﻿@model  List<SelectListItem>
@Html.DropDownList("arakategoriliste", Model, new { @class = "form-control col-md-3", @size = "10" })<!--ürün ekleme 2.kategori list-->

    <script>
        $("#arakategoriliste").click(function () {
            var veri = $(this).find(":selected").attr('value');
            $.ajax({
                url: "/kullanici/urunkategorileriGetir?id=" + veri,
                type: "GET",
                datatype: "text",
                traditional: true,
                async: true,
                cache: false
            }).done(function (result) {
                $("#urunkategoridiv").html(result);
            });
            $("#anakategoriID").attr("value", veri);
        });
       

    </script>

