﻿@using (Html.BeginForm("emaildegistir", "kullanici", FormMethod.Post))
{
    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.Label("Eski E-mail", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("eskiemail", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Yeni E-mail", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("yeniemail", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Yeni E-mail Tekrar", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("yeniemailtekrar", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-sm-3 pull-right">
            <input type="submit" value="Değiştir" class="form-control" />
        </div>
    </div>



}
