﻿@model b141210041_MusaDemir.Models.ModelgirisYap

@using (Html.BeginForm("giris", "uyeislemleri", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken() 
    @Html.TextBoxFor(m => m.Email, new {  @placeholder=b141210041_MusaDemir.Resources.lang.email})
    @Html.PasswordFor(m => m.Sifre, new {  @placeholder = b141210041_MusaDemir.Resources.lang.sifre })
    <span>
        
        @Html.CheckBoxFor(m => m.BeniHatirla, new { @class="checkbox"})
        @Html.LabelFor(m => m.BeniHatirla)
    </span>
    <button type="submit" class="btn btn-default">@b141210041_MusaDemir.Resources.lang.girisyap</button>
     if(!ViewData.ModelState.IsValid) {
     <div class="alert alert-danger">
         @Html.ValidationSummary(false)
         @Html.ValidationMessageFor(m => m.Sifre) 
         @Html.ValidationMessageFor(m => m.Email)    
   </div>
    }

}
