﻿@model  List<b141210041_MusaDemir.Models.Modelkullanici_urunkategoriPartial>
<!---Ürün ekleme sayfasında kategorilerin özelliklerini( ram kg vs.) getirip input olarak forma ekleyen partial --->
@{
    int i = 1;// ekleme ve düzenleme sayfalarında 0. index key ve value -1 olarak boş olarak zaten var
    foreach (b141210041_MusaDemir.Models.Modelkullanici_urunkategoriPartial item in Model)
    {
       
        <div class="form-group col-md-12" id="@item.kategoriOzellikleriID">
            <div class="col-md-11" style="padding:5px">
                <input type="hidden" name="kategoriozellik[@i].kategoriOzellikleriID" value="@item.kategoriOzellikleriID" required />
                <input type="text" name="kategoriozellik[@i].ozellikAdiTR" class="col-md-12 form-control" value="@item.ozellikAdiTR" required />   
                <input type="text" name="kategoriozellik[@i].ozellikAdiEn" class="col-md-12 form-control" value="@item.ozellikAdiEn" required />
                
            </div>
            <a href="" class="ozelliksil" data-ad="@item.ozellikAdiTR" data-id="@item.kategoriOzellikleriID">X</a>
        </div>
        i++;

    }
    <input type="hidden" value="@i" id="ozelliklersonid" />
}
