﻿@using b141210041_MusaDemir.Models
@{ 
    eticaretEntities db = new eticaretEntities();
    var veriler = db.kategoriler.ToList();
}
<div class="left-sidebar">
    <h2>@b141210041_MusaDemir.Resources.lang.kategoriler</h2>
    <div class="panel-group category-products" id="accordian">
        <!--category-productsr-->
    @{
    var anakategorilist = veriler.Where(x => x.anakategoriID == 0);
    foreach (var anakat in anakategorilist)
    {
        var altkategori = veriler.Where(m => m.anakategoriID == anakat.kategoriID);
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#@anakat.guvenliurl">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        @{ 
                            string anakatad = "";
                            if (YardimciMethodlar.dilSessionGetir() == "en")
                            {
                                anakatad = anakat.enkategoriAdi;
                            }
                            else
                            {
                                anakatad = anakat.kategoriAdi;
                            }
                               
                        }
                            @anakatad
                    </a>
                </h4>
            </div>
            <div id="@anakat.guvenliurl" class="panel-collapse collapse" style="margin-left:10px">
                @foreach (var altkat in altkategori)
                {
                    var urunkategori = veriler.Where(mm => mm.anakategoriID == altkat.kategoriID);



                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordian" href="#@altkat.guvenliurl">
                                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                  

                                    @{
                                        string altkatad = "";
                                        if (YardimciMethodlar.dilSessionGetir() == "en")
                                        {
                                            altkatad = altkat.enkategoriAdi;
                                        }
                                        else
                                        {
                                            altkatad = altkat.kategoriAdi;
                                        }

                                    }
                                    @altkatad
                                </a>
                            </h4>
                        </div>

                    </div>


                  




                }
            </div>
            @foreach (var altkat in altkategori)
            {
                var urunkategori = veriler.Where(mm => mm.anakategoriID == altkat.kategoriID);
		   <div id="@altkat.guvenliurl" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                @foreach (var urunkat in urunkategori)
                                {   
                                    if (db.urunler.Where(u=>u.kategoriID==urunkat.kategoriID).ToList().Count>0)
                                    {
                                         <li><a href="@Url.Action("kategori", "main", new { dil = YardimciMethodlar.dilSessionGetir(), sayfa = 1, g_url = urunkat.guvenliurl })">
                                      
                                            @{
                                             string urunkatad = "";
                                            if (YardimciMethodlar.dilSessionGetir() == "en")
                                            {
                                                urunkatad = urunkat.enkategoriAdi;
                                            }
                                            else
                                            {
                                                urunkatad = urunkat.kategoriAdi;
                                            }

                                            }
                                            @urunkatad
                                        
                                         </a></li>
                                    }
                                   
                                }
                            </ul>
                        </div>
                    </div>
	            }
        </div>
    }
}
       
 
     
       
    </div><!--/category-products-->



   

</div>