﻿@using b141210041_MusaDemir.Resources;
@model b141210041_MusaDemir.Models.uyeler

@*@using (Html.BeginForm("kayitol", "uyeislemleri", FormMethod.Post))
{
   
    @Html.AntiForgeryToken()
    
    @Html.TextBoxFor(e => e.kullaniciAdi, new { @placeholder = lang.adsoyad, @required = "true" })
    @Html.TextBoxFor(e => e.eposta, new { @placeholder = lang.email, @required = "true", @type = "email" })
    @Html.PasswordFor(e => e.sifre, new { @placeholder = lang.yenisifre, @required = "true" })
    @Html.PasswordFor(e => e.sifre, new { @placeholder = lang.yenisifretekrar, @required = "true" })
    
    @Html.TextBoxFor(e => e.cinsiyet, new { @placeholder = lang.cinsiyet, @required = "true" })
    @Html.TextBoxFor(e => e.dogumTarihi, new { @placeholder = lang.dogumtarihi, @type = "date", @required = "true" })
    @Html.TextBoxFor(e => e.TCno, new { @placeholder = lang.tcno, @required = "true" })
    @Html.TextBoxFor(e => e.guvenlikSorusu, new { @placeholder = lang.guvenliksorusu, @required = "true" })
    @Html.TextBoxFor(e => e.guvenlikSorusuCevabi, new { @placeholder = lang.gsorucevap, @required = "true" })
    
    <button type="submit" class="btn btn-default">@lang.kayitol</button>
   
}*@



@using (Html.BeginForm("kayitol", "uyeislemleri", FormMethod.Post, new {@enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
    

        <div class="form-group">
           
                @Html.TextBoxFor(model => model.uyeAdSoyad, new { @placeholder = lang.adsoyad, @required = "true" })
                @Html.ValidationMessageFor(model => model.uyeAdSoyad)
            
        </div>

        <div class="form-group">
   
                @Html.PasswordFor(model => model.sifre, new { @placeholder = lang.sifre, @required = "true" })
                @Html.ValidationMessageFor(model => model.sifre)
    
        </div>

        <div class="form-group">
       
                @Html.TextBoxFor(model => model.cinsiyet, new { @placeholder = lang.cinsiyet, @required = "true" })
                @Html.ValidationMessageFor(model => model.cinsiyet)
       
        </div>

        <div class="form-group">
          
                @Html.TextBoxFor(model => model.dogumTarihi, new { @placeholder = lang.dogumtarihi, @required = "true", @type = "date" })
                @Html.ValidationMessageFor(model => model.dogumTarihi)
          
        </div>

        <div class="form-group">
           
                @Html.TextBoxFor(model => model.TCno, new { @placeholder = lang.tcno, @required = "true" })
                @Html.ValidationMessageFor(model => model.TCno)
     
        </div>

        <div class="form-group">
         
                @Html.TextBoxFor(model => model.eposta, new { @placeholder = lang.email, @required = "true", @type = "email" })
                @Html.ValidationMessageFor(model => model.eposta)
         
        </div>

        <div class="form-group">  
                @Html.TextBoxFor(model => model.guvenlikSorusu, new { @placeholder = lang.guvenliksorusu, @required = "true" })
                @Html.ValidationMessageFor(model => model.guvenlikSorusu)
          
        </div>

        <div class="form-group">
      
                @Html.TextBoxFor(model => model.guvenlikSorusuCevabi, new { @placeholder = lang.gsorucevap, @required = "true" })
                @Html.ValidationMessageFor(model => model.guvenlikSorusuCevabi)
       
        </div>
        <div class="form-group">

            @Html.TextBox("resim", null, new { @placeholder = "pfoto", @required = "true", @type = "file" })
         

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
