﻿@using b141210041_MusaDemir.Models
@using b141210041_MusaDemir.Resources;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewBag.description">
    <meta name="author" content="@ViewBag.author">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/mainstyles")
    @RenderSection("styles", false)
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head><!--/head-->
<body>
    <header id="header" class="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <div class="logo pull-left">
                            <a href="@Url.Action("index","main")"><img src="/images/home/logo.png" alt="" /></a>
                        </div>
                        <div class="btn-group pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                    LN
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("dilDegistir", "main", new { dil = "tr", redirectURL = Request.Url.ToString() }) ">Türkçe</a></li>
                                    <li><a href="@Url.Action("dilDegistir", "main", new { dil = "en", redirectURL = Request.Url.ToString() })">English</a></li>
                                </ul>
                            </div>

                            
                        </div>


                    </div>
                    <div class="search_box col-md-5">

                        <form action="/@YardimciMethodlar.dilSessionGetir()/1/ara" method="get">
             
                            <input type="text" name="aranacakKelime" placeholder="@lang.ara" />
                            <input type="submit" style="display:none" />
                        </form>
                       
                    </div>
                    <div class="col-md-4">



                        <div class="shop-menu pull-right">


                            <ul class="nav navbar-nav">
                                @{
                                    if (YardimciMethodlar.KullaniciSessionIDGetir() > 0)
                                    {
                                        <li><a href="@Url.Action("Index", "kullanici", new { dil = "tr" })"><i class="fa fa-user"></i> @lang.hesabim</a></li>
                                        <li><a href="@Url.Action("sepetim", "main", new { dil = "tr" })"><i class="fa fa-shopping-cart"></i> @lang.sepet</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("sepetim", "main", new { dil = "tr" })"><i class="fa fa-shopping-cart"></i> @lang.sepet</a></li>
                                        <li><a href="@Url.Action("giris", "uyeislemleri", new { dil ="tr" })"><i class="fa fa-lock"></i>@lang.girisyap</a></li>
                                    }
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->



    </header><!--/header-->





    <div class="mainAlan">
        <section class="sectioncontainer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 ">
                        @{
                            eticaretEntities db = new eticaretEntities();
                            int id =YardimciMethodlar.KullaniciSessionIDGetir();
                            var uye = db.uyeler.Where(u => u.uyeID == id).SingleOrDefault();
                        }
                        <div class="shipping icerikalani text-center">
                            <!--shipping-->
                            <img src="@uye.profilFoto"  class="img-responsive img-rounded" alt="" />
                            <p style="margin-top:20px">@lang.hosgeldiniz @uye.uyeAdSoyad</p>
                        </div><!--/shipping-->

                        <div class="left-sidebar icerikalani">
                            <h2>@lang.kategoriler</h2>
                            <div class="panel-group category-products" id="accordian">
                                <!---->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordian" href="#hesap">
                                                <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                                @lang.hesabim
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="hesap" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="@Url.Action("sifredegistir","kullanici")">@lang.sifredegistir</a></li>
                                                <li><a href="@Url.Action("emaildegistir","kullanici")">@lang.emaildegistir</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordian" href="#ilanlar">
                                                <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                                @lang.ilanlar
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="ilanlar" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="@Url.Action("urunEkle","kullanici", new { dil = YardimciMethodlar.dilSessionGetir() })">@lang.yeniekle</a></li>
                                                <li><a href="@Url.Action("urunleriListele", "kullanici", new { dil = YardimciMethodlar.dilSessionGetir() })">@lang.goruntule</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordian" href="#siparis">
                                                <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                                @lang.siparislerim
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="siparis" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="@Url.Action("satinAldiklarim", "kullaniciSiparis", new {dil =YardimciMethodlar.dilSessionGetir() })">@lang.aldiklarim</a></li>
                                                <li><a href="@Url.Action("sattiklarim", "kullaniciSiparis", new { dil = YardimciMethodlar.dilSessionGetir() })">@lang.sattiklarim</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            @if (YardimciMethodlar.uyeAdminmi())
                            {
                                
                          
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordian" href="#adminislemleri">
                                                <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                               @lang.adminislemleri
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="adminislemleri" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="@Url.Action("index", "adminkullaniciislemleri", new { dil = YardimciMethodlar.dilSessionGetir() })">@lang.uyekontrolu</a></li>
                                                <li><a href="@Url.Action("index", "adminkategoriislemleri", new { dil = YardimciMethodlar.dilSessionGetir() })">@lang.kategorikontrolu</a></li>
                                                <li><a href="@Url.Action("index", "adminyorumislemleri", new { dil = YardimciMethodlar.dilSessionGetir() })">@lang.yorumkontrolu</a></li>
                                                <li><a href="@Url.Action("index", "adminreklam", new { dil = YardimciMethodlar.dilSessionGetir() })">@lang.reklamkontrolu</a></li>
                                                <li><a href="@Url.Action("index", "adminAnasayfaSliderIslemleri", new { dil = YardimciMethodlar.dilSessionGetir() })">@lang.anasayfasliderkoanasayfasliderkontrol</a></li>
                                                <li><a href="@Url.Action("index", "adminanasayfakategoriislemleri", new { dil = YardimciMethodlar.dilSessionGetir() })">@lang.anasayfakategorikontrol</a></li>
                                                <li><a href="@Url.Action("index", "adminmarkaislemleri", new { dil = YardimciMethodlar.dilSessionGetir() })">@lang.markakontrol</a></li>
                                               
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }

                              
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a href="@Url.Action("index", "kullaniciAdresislemleri", new { dil = YardimciMethodlar.dilSessionGetir() })">@lang.adreslerim</a></h4>
                                    </div>
                                </div>
                              
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a href="@Url.Action("cikis","uyeislemleri")">@lang.cikisyap</a></h4>
                                    </div>
                                </div>
                            </div><!--/category-products-->




                        </div>

                        <div class="shipping icerikreklam text-center">
                            <!--shipping-->
                            <img src="/images/home/shipping.jpg" alt="" />
                        </div><!--/shipping-->

                    </div>
                    <div class="col-md-9 icerikalani" style="padding-left:50px">                      
                        @RenderBody()
                    </div>
                </div>
            </div>
        </section>
    </div>





    <footer id="footer">
        <!--Footer-->

    

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
                    <p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
                </div>
            </div>
        </div>
    </footer><!--/Footer-->
    @Scripts.Render("~/bundles/mainjs")
    @RenderSection("scripts", false)
    <script>
        $(".add-to-cart").click(function () {

            var resimurl = $(this).data("resimurl");
            var urunadi = $(this).data("urunad");
            var urunid = $(this).data("urunid");


            swal({
                title: '<img src ="' + resimurl + '" class="img-responsive col-md-12"/>',
                text: urunadi + '<br/>Sepetinize 1 Adet eklenmiştir',
                html: true,
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Sepete Git ve Alışverişimi tamamla",
                cancelButtonText: "Daha Fazla Ürüne Göz At",
                closeOnConfirm: false
            },
            function (isConfirm) {
                if (isConfirm) {//sepete git
                    window.location.replace("/tr/sepetim");
                } else {

                }
            });
            return false;
        });

        function updateValue(value) {
            // this gets called from the popup window and updates the field with a new value 
       
            $(".cke_dialog_ui_hbox_last .cke_dialog_ui_button span").each(function (index) {               
                if ($(this).text() == "Sunucuya Gözat") {
                    var ara = $(this).attr("id");

                    if (ara != "undefined")
                    {
                        ara = ara.substring(4, 7);
                        ara = ara - 3;
                        var id = "cke_" + ara + "_textInput";
                        document.getElementById(id).value = value;
                    }
                }
            });
           
        }


    </script>









</body>
</html>