﻿@using b141210041_MusaDemir.Models
@using b141210041_MusaDemir.Resources;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewBag.description">
    <meta name="author" content="@ViewBag.author">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/mainstyles")
    @RenderSection("styles", false)
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head><!--/head-->
<body>
    <header id="header" class="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <div class="logo pull-left">
                            <a href="@Url.Action("index","main")"><img src="/images/home/logo.png" alt="" /></a>
                        </div>
                        <div class="btn-group pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                    LN
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">                                 
                                    <li><a href='@Url.Action("dilDegistir", "main", new { dil = "tr", redirectURL = Request.Url.ToString() })'>Türkçe</a></li>
                                    <li><a href='@Url.Action("dilDegistir", "main", new { dil = "en", redirectURL = Request.Url.ToString() })'>English</a></li>
                                </ul>
                            </div>


                        </div>

                    </div>
                    <div class="search_box col-md-5">

                        <form action="/@YardimciMethodlar.dilSessionGetir()/1/ara" method="get">
                            
                            <input type="text" name="aranacakKelime" placeholder="@lang.ara" />
                            <input type="submit" style="display:none" />
                         </form>
                    </div>
                    <div class="col-md-4">



                        <div class="shop-menu pull-right">


                            <ul class="nav navbar-nav">
                                @{
                                    if (YardimciMethodlar.KullaniciSessionIDGetir() > 0)
                                    {
                                        <li><a href="@Url.Action("Index", "kullanici", new { dil = YardimciMethodlar.dilSessionGetir() })"><i class="fa fa-user"></i> @lang.hesabim</a></li>
                                        <li><a href="@Url.Action("sepetim", "main", new { dil = YardimciMethodlar.dilSessionGetir() })"><i class="fa fa-shopping-cart"></i> @lang.sepet</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("sepetim", "main", new { dil = YardimciMethodlar.dilSessionGetir() })"><i class="fa fa-shopping-cart"></i> @lang.sepet</a></li>
                                        <li><a href="@Url.Action("giris", "uyeislemleri", new { dil = YardimciMethodlar.dilSessionGetir() })"><i class="fa fa-lock"></i>@lang.girisyap</a></li>
                                    }
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->


  
    </header><!--/header-->
    <div class="mainAlan">
        @RenderBody()
    </div>
    <footer id="footer">
        <!--Footer-->

     
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
                    <p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
                </div>
            </div>
        </div>
    </footer><!--/Footer-->


    @Scripts.Render("~/bundles/mainjs")
    @RenderSection("scripts", false)
    <script>
        
        $(".add-to-cart").click(function () {

            var resimurl = $(this).data("resimurl");
            var urunadi = $(this).data("urunad");
            var urunid = $(this).data("urunid");
            var adet = $("#urunadet").val();
            if (adet > 0) {
                $.ajax({
                    url: "/main/sepeteekle?id=" + urunid + "&sayi=" + adet,
                    datatype: "text",
                    traditional: true,
                    async: true,
                    cache: false
                }).done(function () {                   
                        swal({
                            title: '<img src ="' + resimurl + '" class="img-responsive col-md-12"/>',
                            text: urunadi + '<br/>Sepetinize ' + adet + ' Adet eklenmiştir',
                            html: true,
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Sepete Git ve Alışverişimi tamamla",
                            cancelButtonText: "Daha Fazla Ürüne Göz At",
                            closeOnConfirm: false
                            },
                           function (isConfirm) {
                               if (isConfirm) {//sepete git
                                   window.location.replace("/tr/sepetim");
                               } else {

                               }
                           });
                    

                });


             
            }
          
            return false;
        });

      
    </script>







    

</body>
</html>