﻿@using b141210041_MusaDemir.Models;
@{
    eticaretEntities db = new eticaretEntities();
    var urunler = db.urunler.OrderByDescending(u => u.satilan).Take(8).ToList();
}
<div class="features_items">
    <!--features_items-->
    <h2 class="title text-center">@b141210041_MusaDemir.Resources.lang.onecikanurunler</h2>
    
    @foreach (var item in urunler)
    {
         <a href="@Url.Action("urun", "main", new { @dil = YardimciMethodlar.dilSessionGetir(), @urunurl = item.guvenliurl })">
        <div class="col-sm-3" >
            <div class="product-image-wrapper" >
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="@item.urunAnaResim" alt="" />
                        <h2>&#x20BA;@item.yeniFiyat</h2>
                        <p style="padding:10px">@Html.Raw(YardimciMethodlar.dilSessionGetir() == "tr" ? item.basliktr : item.basliken)</p>
                    </div>

                </div>
            </div>
        </div>
    </a>
    }

   


</div><!--features_items-->