﻿@using b141210041_MusaDemir.Resources
@using (Html.BeginForm("sifredegistir", "kullanici", FormMethod.Post))
{   
    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.Label(lang.eskisifre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("eskisifre", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label(lang.yenisifre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("yenisifre", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label(lang.yenisifretekrar, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("yenisifretekrar", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-sm-3 pull-right">
            <input type="submit" value="" class="form-control" />
        </div>
    </div>
  
    

}
