﻿@using b141210041_MusaDemir.Models;
@{
    List<urunMiniStruct> urunliste = YardimciMethodlar.tavsiyeEdilenler();
}
@if (urunliste.Count > 0)
{
    int i = 0;
    
<div class="recommended_items">
    <!--recommended_items-->
    <h2 class="title text-center">@Html.Raw(YardimciMethodlar.dilSessionGetir() == "en" ? "Recommended Items" : "Tavsiye Edilen Ürünler")</h2>

    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            

            <div class="item active">
                    @foreach (var item in urunliste)
                    {

                        @Html.Raw((i != 0 ? i : 1) % 4 == 0 ? "</div><div class=\"item \">" : "")
                        <a href="@Url.Action("urun", "main", new { @dil = YardimciMethodlar.dilSessionGetir(), @urunurl = item.guvenliUrl })">
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="@item.resimurl" alt="@item.baslik" />
                                            <h2>@Html.Raw(item.ucret)</h2>
                                            <p>@item.baslik</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </a>
                        i++;
                    }


               
            </div>   
            
            
            
                     
        </div>
        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div><!--/recommended_items-->
}