﻿@model  List<b141210041_MusaDemir.Models.Modelkullanici_urunkategoriPartial>
<!---Ürün ekleme sayfasında kategorilerin özelliklerini( ram kg vs.) getirip input olarak forma ekleyen partial --->
@{
    int i = 1;// ekleme ve düzenleme sayfalarında 0. index key ve value -1 olarak boş olarak zaten var 
    foreach (b141210041_MusaDemir.Models.Modelkullanici_urunkategoriPartial item in Model)
    { 
        <div class="form-group col-md-12" >
          <div class="col-md-3" style="padding:5px">@item.ozellikAdiTR</div>
          <div class="col-md-9" style="padding:5px">
              <input type="hidden" name="kategoriozellik[@i].Key" value="@item.kategoriOzellikleriID" required/>
              <input type="text" name="kategoriozellik[@i].Value" class="col-md-12 form-control" value="@item.ozellikDetay" required/>
          </div>
    </div>
        i++;

    }


}