﻿@model  List<SelectListItem>
@Html.DropDownList("urunkategoriliste", Model, new { @class = "form-control col-md-3",@size="10"})<!--ürün ekleme 3. kategorilist-->

<script>
    $("#urunkategoriliste").click(function () {
        var urunkategoriveri = $(this).find(":selected").attr('value');
        $('#kategoriID').attr('value', urunkategoriveri);
        $("#urundiv").css("display", "block");

        $.ajax({
            url: "/kullanici/kategoriozellik?id=" + urunkategoriveri,
            type: "GET",
            datatype: "text",
            traditional: true,
            async: true,
            cache: false
        }).done(function (result) {
            $("#kategoriozellikdiv").html(result);
        });

    });

</script>