﻿@model b141210041_MusaDemir.Models.anasayfaslider

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>anasayfaslider</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="col-md-2">Slidera Eklenecek Ürün</div>
            
            <div class="col-md-10">
                @Html.DropDownList("urunID", ViewBag.urunID as List<SelectListItem>, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.urunID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
