﻿@model IEnumerable<b141210041_MusaDemir.Models.ModeladminAnasayfaSlider_listele>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<h2>Sliderda Gözüken Ürünler</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ürün Resmi
        </th>
        <th>
            Ürün Başlığı
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@item.resimurl" style="max-height:200px;max-width:200px" alt="@item.baslik" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.baslik)
        </td>
        <td>           
            @Html.ActionLink("Delete", "Delete", new { id=item.sliderID })
        </td>
    </tr>
}

</table>
