﻿@model b141210041_MusaDemir.Models.adresler

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

@section scripts{
    <script>
        $("#sehirID").click(function () {
            var veri = $(this).find(":selected").attr('value');
            $.ajax({
                url: "/kullaniciAdresislemleri/ilcegetir?ilid=" + veri,
                type: "GET",
                datatype: "text",
                traditional: true,
                async: true,
                cache: false
            }).done(function (result) {
                $("#ilceID").html(result);
            });
        });
    </script>
}
<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>adresler</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.Hidden("uyeID", b141210041_MusaDemir.Models.YardimciMethodlar.KullaniciSessionIDGetir())
              

        <div class="form-group">
            @Html.LabelFor(model => model.adresTanimi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.adresTanimi, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.adresTanimi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ad, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.ad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.soyad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.soyad, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.soyad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.firma, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.firma, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.firma)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sehirID, "sehirID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("sehirID", ViewBag.sehirID as SelectList, new { @class = "form-control ", required = "required" })
                @Html.ValidationMessageFor(model => model.sehirID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ilceID, "ilceID", new { @class = "control-label col-md-2 " })
            <div class="col-md-10">
                <select name="ilceID" id="ilceID" class="form-control" required>
                    
                </select>
              
                @Html.ValidationMessageFor(model => model.ilceID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Adres, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Adres, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Adres)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TCno, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TCno, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.TCno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cepTel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.cepTel, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.cepTel)
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
