﻿@model b141210041_MusaDemir.Models.adresler

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>adresler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.adresTanimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresTanimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TCno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TCno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cepTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cepTel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.il.ilAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.il.ilAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ilce.ilceAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ilce.ilceAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uyeler.uyeAdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uyeler.uyeAdSoyad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
