﻿@model b141210041_MusaDemir.Models.adresler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>adresler</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.adresTanimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresTanimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TCno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TCno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cepTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cepTel)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.il.ilAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.il.ilAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ilce.ilceAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ilce.ilceAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uyeler.uyeAdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uyeler.uyeAdSoyad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.adresID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
