﻿@model IEnumerable<b141210041_MusaDemir.Models.adresler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.adresTanimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cepTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.il.ilAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ilce.ilceAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.adresTanimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.cepTel)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.il.ilAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ilce.ilceAdi)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.adresID }) |
            @Html.ActionLink("Details", "Details", new { id=item.adresID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.adresID })
        </td>
    </tr>
}

</table>
