﻿@model b141210041_MusaDemir.Models.kategoriler

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}
@section scripts
{
    <script>
        $("#anakategoriliste").click(function () {
            var veri = $(this).find(":selected").attr('value');
            $("#anakategoriID").attr("value", veri);
            $.ajax({
                url: "/kullanici/altkategorileriGetir?id=" + veri,
                type: "GET",
                datatype: "text",
                traditional: true,
                async: true,
                cache: false
            }).done(function (result) {
                $("#altkategoridiv").html(result);
                
            });
          
        });     
        var i = 1;
        $("#ozellikekle").click(function () {
            $("#ozellikdiv").append('<div class="form-group"><div class="col-md-offset-2 col-md-10 col-sm-12">' +
                '<input type="text" class="col-md-12 form-control" name="kategoriozellik[' + i + '].Key" value="" placeholder="Özellik ' + i + '" required />' +
                '<input type="text" class="col-md-12 form-control" name="kategoriozellik[' + i + '].Value" value="" placeholder="Property ' + i + '" required />' +
                '</div></div>');
            i++;
            return false;
        });
    </script>

   
}
<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>kategoriler</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="col-md-12">
            <div id="anakategoridiv" class="col-md-6" style="margin-bottom:10px">
                @Html.DropDownList("anakategoriliste", ViewBag.anakategoriliste as List<SelectListItem>, new { @class = "form-control", @size = "10" })
            </div>
            <div id="altkategoridiv" class="col-md-6" style="margin-bottom:10px">
                <select class="form-control" size="10"></select>
            </div>
           
        </div>
        @Html.Hidden("anakategoriID", 0)
           
        

        <div class="form-group">
            @Html.LabelFor(model => model.enkategoriAdi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.enkategoriAdi, new { @class = "form-control " })
                @Html.ValidationMessageFor(model => model.enkategoriAdi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kategoriAdi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.kategoriAdi, new { @class = "form-control " })
                @Html.ValidationMessageFor(model => model.kategoriAdi)
            </div>
        </div>
        <div id="ozellikdiv">
            <input type="hidden" name="kategoriozellik[0].Key" value="-1"/>
            <input type="hidden" name="kategoriozellik[0].Value" value="-1" />
        </div>
        <a href="#" id="ozellikekle">ÖzellikEkle</a>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}




<div>
    @Html.ActionLink("Back to List", "Index")
</div>
