﻿@model b141210041_MusaDemir.Models.kategoriler

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h4>kategoriler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.anakategoriID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anakategoriID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enkategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enkategoriAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategoriAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guvenliurl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guvenliurl)
        </dd>

    </dl>

    
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
