﻿@model b141210041_MusaDemir.Models.kategoriler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>kategoriler</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.anakategoriID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anakategoriID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enkategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enkategoriAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategoriAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guvenliurl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guvenliurl)
        </dd>
        <dt>
            <label>Özellikler</label>
        </dt>
          @foreach (var item in ViewBag.ozellikler as List<b141210041_MusaDemir.Models.kategoriOzellikleri>)
            {
                <dd>
                    @item.ozellikAditr
                </dd>
            }
</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.kategoriID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
