﻿@model b141210041_MusaDemir.Models.kategoriler

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}
@section scripts
{
    <script>     
        var i = $('#ozelliklersonid').attr("value");
        $("#ozellikekle").click(function () {
            $("#ozellikdiv").append('<div class="form-group"><div class="col-md-offset-2 col-md-10 col-sm-12">' +
                '<input type="hidden" name="kategoriozellik[' + i + '].kategoriOzellikleriID" value="-1" required />' +
                 '<input type="text" name="kategoriozellik[' + i + '].ozellikAdiTR" class="col-md-12 form-control" value="" placeholder="ozellikAdiTR" required />'+
                '<input type="text" name="kategoriozellik[' + i + '].ozellikAdiEn" class="col-md-12 form-control" placeholder="ozellikAdiEn" value="" required />' +
                '</div></div>');
            i++;
            return false;
        });


        $(".ozelliksil").click(function () {
            var ozellikid = $(this).data("id");
            var ozellikad = $(this).data("ad");
            swal({
                title: 'Eminmisin ?',
                text: "Evete Tıklarsan \"" + ozellikad + "\" Özelliği Silinecek !",
                html: true,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Evet , Özelliği Sil",
                cancelButtonText: "Hayır, Silme !",
                closeOnConfirm: false
            },
            function () {
                $.ajax({
                    url: "/adminkategoriislemleri/ozelliksil?id=" + ozellikid,
                    type: "GET",
                    datatype: "text",
                    traditional: true,
                    async: true,
                    cache: false
                }).done(function (result) {
                    if (result == "true") {
                        $("#" + ozellikid).html("");
                        swal("Başarılı", "Resim Silindi.", "success");
                    } else {
                        swal("Hata", "Bir Hata ile karşılaşıldı", "error");
                    }
                });


            });

            return false;


        });



    </script>


}
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>kategoriler</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.kategoriID)
        @Html.HiddenFor(model => model.anakategoriID)
        @Html.HiddenFor(model => model.guvenliurl)
         
        <div class="form-group">
            @Html.LabelFor(model => model.enkategoriAdi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.enkategoriAdi, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.enkategoriAdi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kategoriAdi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.kategoriAdi, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.kategoriAdi)
            </div>
        </div>
        <div id="ozellikdiv">
            Özellikler:
            <input type="hidden" name="kategoriozellik[0].kategoriOzellikleriID" value="-1" required />
            <input type="hidden" name="kategoriozellik[0].ozellikAdiEn" class="col-md-12 form-control" value="-1" required />
            <input type="hidden" name="kategoriozellik[0].ozellikAdiTR" class="col-md-12 form-control" value="-1" required />   
            @Html.Partial("_kategoriDuzenleKategoriOzellikleri", ViewBag.ozellikler as List<b141210041_MusaDemir.Models.Modelkullanici_urunkategoriPartial>)
        </div>
        <a href="#" id="ozellikekle">ÖzellikEkle</a>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
