﻿@using b141210041_MusaDemir.Models

@model IEnumerable<b141210041_MusaDemir.Models.kategoriler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { dil = YardimciMethodlar.dilSessionGetir() })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.anakategoriID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enkategoriAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kategoriAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.guvenliurl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.anakategoriID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enkategoriAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kategoriAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.guvenliurl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.kategoriID, dil = YardimciMethodlar.dilSessionGetir() }) |
            @Html.ActionLink("Details", "Details", new { id = item.kategoriID, dil = YardimciMethodlar.dilSessionGetir() }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.kategoriID, dil = YardimciMethodlar.dilSessionGetir() })
        </td>
    </tr>
}

</table>
