﻿@model b141210041_MusaDemir.Models.reklamlar

@{
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml"; 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm("Edit", "adminreklam", FormMethod.Post, new { @enctype = "multipart/form-data" })) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>reklamlar</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.aciklama)
            @Html.HiddenFor(model=>model.resimurl)
            <div class="form-group">
                <div class="col-md-2">Gösterilecek Reklam Resmi Urlsi</div>  
                
                <div class="col-md-10">
                    @Html.TextBox("resim", null, new { @class = "form-control", @type = "file" })
                    @Html.ValidationMessageFor(model => model.resimurl)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-2">Gidilecek Ürün</div>             
                <div class="col-md-10">
                    @Html.DropDownList("urunguvenliurl", ViewBag.urunguvenliurl as List<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.urunguvenliurl)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
