﻿@model IEnumerable<b141210041_MusaDemir.Models.reklamlar>

@{
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Index</h2>
   
    <table class="table" style="text-align:center">
        <tr style="text-align:center">
            <th style="text-align:center">
                Resim
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.aciklama)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.urunguvenliurl)
            </th>
           
          
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.resimurl" style="max-height:200px;max-width:200px; border:1px solid #ccc" alt="@item.urunguvenliurl" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.aciklama)
                </td>
                <td>
                    <a href="@Url.Action("urun", "main", new { dil = b141210041_MusaDemir.Models.YardimciMethodlar.dilSessionGetir(), urunurl=item.urunguvenliurl })">@item.urunguvenliurl</a>
                </td>
               
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</body>
</html>
