﻿
@{
    ViewBag.Title = "giris";
}

<section id="form" class="sectioncontainer">
    <!--form-->
    
    <div class="container">
        
        <div class="row icerikalani">

            <div class="col-sm-4  col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Giriş Yap</h2>
                    @Html.Partial("_girisPartial")

                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">Yada</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>Kayıt Ol</h2>
                    @Html.Partial("_kayitolPartial")
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
    <!--<div class="alert alert-success col-md-6 col-md-offset-3" style=" text-align:center;">Kayıt işlemi tamamlanmıştır lütfen emailinizi kontrol ediniz.</div>-->
</section><!--/form-->

