﻿@model b141210041_MusaDemir.Models.uyeler

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>uyeler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.uyeAdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uyeAdSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kullaniciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ceptelno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ceptelno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profilFoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profilFoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bakiye)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bakiye)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uyeRol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uyeRol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cinsiyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cinsiyet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dogumTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dogumTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TCno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TCno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eposta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guvenlikSorusu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guvenlikSorusu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guvenlikSorusuCevabi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guvenlikSorusuCevabi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
