﻿@using b141210041_MusaDemir.Models
@model IEnumerable<b141210041_MusaDemir.Models.uyeler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.uyeAdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kullaniciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefonNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ceptelno)
        </th>      
        <th>
            @Html.DisplayNameFor(model => model.eposta)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.uyeAdSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kullaniciAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefonNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ceptelno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eposta)
        </td>
        
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.uyeID, dil = YardimciMethodlar.dilSessionGetir() }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.uyeID, dil = YardimciMethodlar.dilSessionGetir() })
        </td>
    </tr>
}

</table>
